body {
font-family: 'Open Sans', sans-serif;
margin:0 ; 
}

h1 {
    font-size: 50px;
    line-height: .8;
}
.name-color {
    color: rgb(249, 90, 172);
}

section {
    display: flex;
    margin-bottom: 120px;
}
.top-bg {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat; 
}
.half-width {
    width: 50%;
    padding: 10px;
}
.profile-pic {
    height: 400px;
    width: 400px;
    padding-left: 100px;
}
p {
    text-align: justify ;
}
.link-btn {
    text-decoration: none;
    background-image: linear-gradient(pink, deeppink);
    padding: 10px 40px;
    border-radius: 5px 15px;
    font-weight: bold;
    color: white;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}